body {
	background-color:#242424;
  color:#fff;
}

#root {
  background-color:#242424;
  padding: 2rem;
  width:100%;
}

.crowdfunder-container {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: left;
  width:100%;
}

.crowdfunder-container > section {
  flex: 1 1 320px;
  
  
  margin: 20px 20px;

  background: #111;
/*     margin: 10px 20px; */
  padding:10px 20px;
  border-radius:3px;
}

.crowdfunder-container h4 {
  font-size:1.175rem;
  
  margin-bottom: .5rem;
  
}
.crowdfunder-container hr {
  margin-bottom: 1.25rem;
}



#root .CSSConfig {
  
  text-align: left;
  padding: 15px 10px;
  
}
#root .CSSConfig form > label  {     
  display: block;
  
}
.CSSConfig input[type=text] {
  display: inline-block !important; 
}

.CSSConfig fieldset {
  padding:5px !important;
  justify-content: flex-start !important;
  margin:15px 0 0 0;
  border:0;
}
.CSSConfig fieldset label{
  display: block;
}
.CSSConfig fieldset input {
  margin-left:-1px;
}

#root .CSSOutput  {
  text-align: left !important;
}



.crowdfunder-container .react-colorful {
  height: 125px;
  width:125px;
}



.font-color-picker,
.background-color-picker,
.heading-font,
.body-font {
    display: inline-block;
    width:45% !important; 
    overflow: hidden;
}
.heading-font input,
.body-font input {
    max-width:100px;
}
.font-color-picker label,
.background-color-picker label,
.heading-font label,
.body-font label {
    line-height:1;
    margin-bottom: .25em;
    white-space:nowrap;
}

.font-color-picker input,
.background-color-picker input {
    display: inline-block;
    max-width: 80px;    
}

@media (max-width:769px) {
  #root {
    padding:0;
  }
  section.CSSConfig {
    order:2; 
  }
  section.crowdfunder {
    order:1;
  }
  .CSSOutput {
    order:3;
  }

}